<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="mavennaveen.mavennaveen.AppTest"/>
      <class name="Com.qa.test.demotest"/>
      <class name="Com.qa.test.demotest1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
